<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979347599110-2n5nqdl6pfo6cob634j96g124artt315.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979347599110-2n5nqdl6pfo6cob634j96g124artt315</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>979347599110-24v27pqdotjk377e2qrohc58fg242bfk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSQHJYg5No8KZOScoKqkWBiND9SxFUPTY</string>
	<key>GCM_SENDER_ID</key>
	<string>979347599110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.speedly.usess</string>
	<key>PROJECT_ID</key>
	<string>speedly-customer</string>
	<key>STORAGE_BUCKET</key>
	<string>speedly-customer.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979347599110:ios:c6d6b27d81f24f3db1f887</string>
</dict>
</plist>